# Introduction to Databases in Python

This course is presented by Jason Myers, co-Author of _Essential SQLAlchemy_ and Software Engineer. The collaborator is Hugo Bowne-Anderson.

Prerequisites:
- Introduction to Python
- Intermediate Python for Data Science

This course is part of this track:
- Data Manipulation with Python

## Data Sets

| Name | File | Description |
| :---- | :---- | :--- |
| Census | census.csv | Data found in census.sqlite |
| Census | census.sqlite | Data used for exercises |
| Employees | employees.sqlite | Data used for hierarchical table exercises |
| All data sets | postgresql+psycopg2://student:datacamp@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census | User can't select data |
| Census | mysql+pymysql://student:datacamp@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census | Corrupt data |


All data in census.csv was present in census.sqlite.

How to quickly view the sqlite databases:

```
$ sqlite3 employees.sqlite
SQLite version 3.39.5 2022-10-14 20:58:05
Enter ".help" for usage hints.
sqlite> .schema
CREATE TABLE IF NOT EXISTS "employees" (
 id INT PRIMARY KEY,
 name VARCHAR(20),
 job VARCHAR(20),
 mgr INT NULL,
 hiredate DATETIME,
 sal NUMERIC(7,2),
 comm NUMERIC(7,2) NULL,
 dept INT);
sqlite> select * from employees;
sqlite> .quit

$ sqlite3 census.sqlite
SQLite version 3.39.5 2022-10-14 20:58:05
Enter ".help" for usage hints.
sqlite> .schema
CREATE TABLE census (
state varchar(30),
sex varchar(1),
age int,
pop2000 int,
pop2008 int);
CREATE TABLE state_fact
(
    id VARCHAR(256),
    name VARCHAR(256),
    abbreviation VARCHAR(256),
    country VARCHAR(256),
    type VARCHAR(256),
    sort VARCHAR(256),
    status VARCHAR(256),
    occupied VARCHAR(256),
    notes VARCHAR(256),
    fips_state VARCHAR(256),
    assoc_press VARCHAR(256),
    standard_federal_region VARCHAR(256),
    census_region VARCHAR(256),
    census_region_name VARCHAR(256),
    census_division VARCHAR(256),
    census_division_name VARCHAR(256),
    circuit_court VARCHAR(256)
);
sqlite> select * from state_fact order by cast(state_fact.id as integer);
sqlit3> select * from census;
sqlite> .quit
```

## Resources

The SQLAlchemy documentation is located at https://docs.sqlalchemy.org/.

This is an excellent tutorial: https://www.learndatasci.com/tutorials/using-databases-python-postgres-sqlalchemy-and-alembic/

## SQLAlchemy Legacy API

This course uses Python '3.9.7 (default, Sep 10 2021, 00:03:59) \n[GCC 7.5.0]' with SQLAlchemy 1.4.26. The course runs with the PYTHONWARNINGS environment variable set to "ignore" to avoid warnings about deprecated API features.

```python
import os
os.environ["PYTHONWARNINGS"] = "ignore"
```

The SQLAlchemy developers have created and released a new API, version 2.0.x. A tutorial is available here: https://docs.sqlalchemy.org/en/14/tutorial/index.html#unified-tutorial.

Using the SQLAlchemy version 1.4.46 API with `future=True` to conform to the new 2.0.x API, I modified the course's code to eliminate warnings about deprecated features.

I updated SQLAlchemy to version 2.0.6 and successfully ran all cells.

## Imports

For convenience and clarity, all imports are gathered here.

In [ ]:
import csv
import os
import sys

import matplotlib.pyplot as plt
import pandas as pd
import psycopg2
import sqlalchemy

# Display all warnings.
os.environ["PYTHONWARNINGS"] = "error"

## Clean Up

Clean up the sqlite files created by the code.

In [ ]:
sqlite_files = [
    "tutorial1.sqlite",
    "tutorial2.sqlite",
    "tutorial3.sqlite",
    "tutorial4.sqlite",
    "tutorial5.sqlite",
    "chapter5.sqlite",
]
for sqlite_file in sqlite_files:
    try:
        os.remove(sqlite_file)
        print("File {} removed.".format(sqlite_file))
    except FileNotFoundError as esc:
        print("File {} not found.".format(sqlite_file))

## Notes

To prevent surprising results when the cells are executed out of order, I have tried to create new variable names for every step except where I'm deliberately reusing variables.

A different course teaches how to use transactions. I added transactions to the code.

## Basics of Relational Databases

### Introduction to Databases
- Tables, columns, rows, and data.
- Tables can be related.

#### Relational Model (Exercise)

Tables, rows, columns, and relationships are part of the relational mode.

### Connecting to Your Database

SQLAlchemy has two main pieces:
- Core (relational model focused)
- Object relational model (user data model focused)

SQLAlchemy supports many types of databases, and SQLAlchemy provides a unified interface to the different database types. SQLAlchemy uses an engine to connect to a database; the engine requires a connection string, which is in the form of a URL. According to the documentation, no connection is made until calling `Engine.connect()`. This means it's possible to create an `Engine` object with an invalid connection URL. A `sqlalchemy.OperationalError` exception is raised if a connection can't be established.

#### Connect to a SQLite Database (Exercise)

See https://docs.sqlalchemy.org/en/14/core/reflection.html#fine-grained-reflection-with-inspector for the Inspector object.

In [ ]:
# Connect to a SQLite database file and print its table names.
# This code uses best practices for sqlalchemy 1.4.x.
cen_dns = "sqlite:///census.sqlite"
cen_engine = sqlalchemy.create_engine(cen_dns, future=True)
cen_inspector = sqlalchemy.inspect(cen_engine)
print(cen_inspector.get_table_names())

#### Autoloading Tables from a Database (Exercise)

The course uses reflection to read the database and build SQLAlchemy `Table` objects. See https://docs.sqlalchemy.org/en/14/core/reflection.html. The `sqlalchemy.MetaData` object is used to contain the table metadata. The `sqlalchemy.Table` object is created from the `engine`, and metadata is stored in the `sqlalchemy.MetaData` object.

In [ ]:
# Reuse cen_engine from above.
cen_metadata = sqlalchemy.MetaData()
cen_tbl_census = sqlalchemy.Table("census", cen_metadata, autoload_with=cen_engine)
print("type(cen_tbl_census):", type(cen_tbl_census))
print(repr(cen_tbl_census))
print("type(cen_metadata):", type(cen_metadata))
print("cen_metadata:", cen_metadata)

#### Viewing Table Details (Exercise)

In [ ]:
# Print a list of sqlalchemy.Column objects.
# Reuse cen_tbl_census and cen_metadata from above.
print("list(census.columns):", list(cen_tbl_census.columns))
print()
# Print the list containing the column names.
print(cen_tbl_census.columns.keys())
print()
# Access a single table from the sqlalchemy.Metadata object.
# This is the same as print(repr(census)).
print(dir(cen_metadata))
print()
# Show that census, created above, is the same object as that obtained through
# the metadata object.
cen_tbl_census2 = cen_metadata.tables["census"]
print(cen_tbl_census == cen_tbl_census2)
print()
print(repr(cen_metadata.tables["census"]))

### Introduction to SQL Queries

#### Execute a Simple Query and Fetch the Results (Demonstration)

`ResultProxy` vs. `ResultSet`: A `ResultProxy` has methods such as `fetchall` for fetching the `ResultSet`, allowing the programmer to control data fetching.

In [ ]:
# Reuse engine from above.
# This is a reminder that we're using SQLAlchemy here and not another module
# such as sqlite or MySQLdb, which use Python's DBAPI. SQLAlchemy's API is 
# different from Python's DBAPI.
# Use the 1.4/2.0 API.
stmt1 = sqlalchemy.text("SELECT * FROM census")
print(type(stmt1))
with cen_engine.connect() as conn1:
    result_proxy1 = conn1.execute(stmt1)
    print("type(result_proxy):", type(result_proxy1))
    # result_set is a list containing sqlalchemy.engine.row.Row objects
    # because we initialized engine with future=True.
    result_set1 = result_proxy1.fetchall()
    print("type(result_set1):", type(result_set1))
    print(len(result_set1))
    print(result_set1[:5])
    first_row1 = result_set1[0]
    print("type(first_row1):", type(first_row1))
    # This is necessary for sqlalchemy 1.4.
    row_as_dict1 = first_row1._asdict()
    # Print the column names. These are also available from the metadata object.
    print(row_as_dict1.keys())
    # Print the individual attributes of first_row.
    print(first_row1.state)
    print(first_row1.sex)
    print(first_row1.age)
    print(first_row1.pop2000)
    print(first_row1.pop2008)

#### Using SQLAlchemy to Build Queries

SQLAlchemy provides a Pythonic way to build SQL statements. It is designed to hide differences between backend database types.

Watch out: The video oversimplifies things at first.

In [ ]:
# Reuse cen_engine, cen_metadata, and cen_tbl_census from above.
# Use sqlalchemy to create the select string. Doing it this way means you 
# don't need to know anything about the dialect of SQL you're using.
stmt2 = sqlalchemy.select(cen_tbl_census)
print(stmt2)
print()
with cen_engine.connect() as conn2:
    result_set2 = conn2.execute(stmt2).fetchall()
    print(result_set2[:10])

#### Selecting Data from a Table: Raw SQL (Exercise)

In [ ]:
# Reuse cen_engine from above.
stmt3 = sqlalchemy.text("SELECT * FROM census")
with cen_engine.connect() as conn3:
    result_proxy3 = conn3.execute(stmt3)
    result_set3 = result_proxy3.fetchall()

    # Create a DataFrame.
    df3 = pd.DataFrame(result_set3)
    print(df3.head())

    # Work with a single row.
    # Extract keys and values from first_row; the idea is that I want the values
    # for building an HTML table.
    first_row3 = result_set3[0]
    print("type(first_row3):", type(first_row3))
    print()
    print("first_row3:", first_row3)
    print()
    first_row_dict3 = first_row3._asdict()
    print("first_row_dict3.keys():", first_row_dict3.keys())
    print()
    print("type(first_row_dict3.values()):", type(first_row_dict3.values()))
    print()
    print("first_row_dict3.values():", first_row_dict3.values())
    print()
    print("type(first_row3._mapping):", type(first_row3._mapping))
    print()
    print("first_row3._mapping", first_row3._mapping)
    print()
    print("type(first_row3._mapping.keys()):", type(first_row3._mapping.keys()))
    print()
    print("first_row3._mapping.keys():", first_row3._mapping.keys())
    print()
    print("type(first_row3._mapping.items()):", type(first_row3._mapping.items()))
    print()
    print("first_row3._mapping.items():", first_row3._mapping.items())
    print()
    # I think there is a bug here; calling values() returns items().
    print("type(first_row3._mapping.values()):", type(first_row3._mapping.values()))
    print()
    print("first_row3._mapping.values():", first_row3._mapping.values())
    print()
    print("dict(first_row3._mapping.items()):", dict(first_row3._mapping.items()))
    print()
    print("dict(first_row3._mapping.items()).values():", dict(first_row3._mapping.items()).values())
    print()

    # Access an individual column using an attribute. This is a nice feature 
    # since it reduces typing.
    print(first_row3.state)

#### Selecting Data from a Table with SQLAlchemy (Exercise)

Rather than dealing with the differences between specific dialects of traditional SQL such as MySQL or PostgreSQL, you can leverage the Pythonic framework of SQLAlchemy to streamline your workflow and more efficiently query your data. For this reason, it is worth learning even if you may already be familiar with traditional SQL.

In [ ]:
# Reuse engine and census from above.
stmt4 = sqlalchemy.select(cen_tbl_census)
print(stmt4)
print()
with cen_engine.connect() as conn4:
    result_proxy4 = conn4.execute(stmt4)
    result_set4 = result_proxy4.fetchmany(size=10)
    result_proxy4.close()
    first_row4 = result_set4[0]
    print(first_row4)

    # Extract keys and values from first_row.
    print(list(first_row4._asdict().keys()))
    print(list(first_row4._asdict().values()))
    print(first_row4)

    # Access an individual column using an index or attribute.
    print(first_row4[0])
    print(first_row4.state)

#### Handling a ResultSet (Exercise)

In [ ]:
# Reuse cen_engine and cen_tbl_census from above.
# Fetch rows and extract column values using indexing or column names.
stmt5 = sqlalchemy.select(cen_tbl_census)
with cen_engine.connect() as conn5:
    result_proxy5 = conn5.execute(stmt5)

    # Fetch data from the ResultProxy object.
    result_set5 = result_proxy5.fetchall()
    first_row5 = result_set5[0]
    print(first_row5)

    # Extract keys and values from first_row.
    print(list(first_row5._asdict().keys()))
    # The _fields attribute is a tuple.
    print(first_row5._fields)
    print(list(first_row5._asdict().values()))
    print(first_row5)

    # Access an individual column using an index or attribute.
    print(first_row5[0])
    print(first_row5.state)

##  Applying Filtering, Ordering, and Grouping to Queries

### Filtering and Targeting Data

#### Using SQLAlchemy to filter and target data (Demonstration)

In [ ]:
# Reuse cen_engine and cen_tbl_census from above.
stmt6 = sqlalchemy.select(cen_tbl_census)
stmt6 = stmt6.where(cen_tbl_census.columns.state == 'California')
print(stmt6)
print()
with cen_engine.connect() as conn6:
    result_set6 = conn6.execute(stmt6).fetchall()
    for row6 in result_set6[:5]:
        print(row6.state, row6.age)

#### Filtering Using Expressions (Demonstration)

Where clauses restrict data returned by a query based on boolean conditions.

Compare a column against a value or another column.
- Use operators such as `==`, `<=`, `>=`, or `!=`
- Use expressions, which provide more complex conditions than simple operators
    - `in_()`
    - `like()`
    - `between()`
- Use conjunctions to allow multiple criteria in a where clause
    - `and_()`
    - `not_()`
    - `or_()`
- There are many more, and they are available as methods on a Column object

Find all states that start with "New".

In [ ]:
# Reuse cen_engine and cen_tbl_census from above.
stmt7 = sqlalchemy.select(cen_tbl_census)
stmt7 = stmt7.where(cen_tbl_census.columns.state.startswith("New"))
print(stmt7)
print()
with cen_engine.connect() as conn7:
    # A ResultProxy object can be used as the target of a loop without having
    # to fetch the data. The query returns many rows.
    for row7 in conn7.execute(stmt7):
        print(row7.state, row7.pop2000)
        break

#### Filtering Using Conjunctions (Demonstration)

Find rows where the state is "California" or "New York".

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
stmt8 = sqlalchemy.select(cen_tbl_census)
stmt8 = \
    stmt8.where(
        sqlalchemy.or_(
            cen_tbl_census.columns.state == "Californa",
            cen_tbl_census.columns.state == "New York"))
print(stmt8)
print()
with cen_engine.connect() as conn8:
    for row8 in conn8.execute(stmt8):
        print(row8.state, row8.sex)
        break

#### Connecting to a PostgreSQL Database (Exercise)

This exercise connects to a database hosted in the cloud via AWS.

In [ ]:
# This code runs successfully. However, user "student" does not have
# sufficient privileges to select data from the census table.
pg_dns = "postgresql+psycopg2://"
pg_dns += "student:datacamp"
pg_dns += "@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census"
pg_engine = sqlalchemy.create_engine(pg_dns, future=True)
pg_inspector = sqlalchemy.inspect(pg_engine)
print(pg_inspector.get_table_names())

#### Filter Data Selected from a Table - Simple (Exercise)

Use a where clause to filter the data that a statement returns. Note that chaining is possible for `select()` and `where()`. For example:

```python
select(cen_tbl_census).where(cen_tbl_census.columns.sex == "F")
```

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# Select all records from the census table where the state is "New York".
# Print the age, sex, and pop2008 values for each row.
stmt9 = sqlalchemy.select(cen_tbl_census).where(cen_tbl_census.columns.state == "New York")
print(stmt9)
print()
with cen_engine.connect() as conn9:
    result_set9 = conn9.execute(stmt9).fetchall()
    for row9 in result_set9:
        print(row9.age, row9.sex, row9.pop2008)
        break

#### Filter Data Selected from a Table - Expressions (Exercise)

Use `in_()`. Can also use `and_()` and `any_()`.

In [ ]:
# Reuse census and engine from above.
# Select all records from the census table where the states are "New York",
# "California", and "Texas".
# Print the age, sex, and pop2008 values for each row.
states10 = ["California", "New York", "Texas"]
stmt10 = sqlalchemy.select(cen_tbl_census).where(cen_tbl_census.columns.state.in_(states10))
print(stmt10)
print()
with cen_engine.connect() as conn10:
    result_set10 = conn10.execute(stmt10).fetchall()
    for row10 in result_set10:
        print(row10.state, row10.sex, row10.pop2000)
        break

#### Filter Data Selected from a Table - Advanced (Exercise)

Apply multiple filters.

```python
sqlalchemy.select(cen_tbl_census).where(
    sqlalchemy.and_(
        cen_tbl_census.columns.state == 'New York',
        sqlalchemy.or_(
            cen_tbl_census.columns.age == 21,
            cen_tbl_census.columns.age == 37
        )
    )
)
```

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# Select all records from the census table where the state is "California"
# and sex is not "M".
# Print the age and sex values for each row.
stmt11 = \
    sqlalchemy.select(cen_tbl_census) \
        .where(sqlalchemy.and_(
            cen_tbl_census.columns.state == "California",
            cen_tbl_census.columns.sex != "M"))
print(stmt11)
print()
with cen_engine.connect() as conn11:
    result_set11 = conn11.execute(stmt11).fetchall()
    for row11 in result_set11:
        print(row11.age, row11.sex)
        break

### Ordering Query Results

#### Order Results Descending (Demonstration)

Use the `order_by()` method to order records in a result set. Wrap the column with `sqlalchemy.desc()` in the `order_by()` clause.

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
stmt12 = sqlalchemy.select(cen_tbl_census.columns.state)
stmt12 = stmt12.distinct().order_by(cen_tbl_census.columns.state)
print(stmt12)
print()
with cen_engine.connect() as conn12:
    result_set12 = conn12.execute(stmt12).fetchall()
    print(result_set12[:5])

#### Order by Multiple Columns (Demonstration)

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# Order by multiple columns by separating multiple columns with a comma.
stmt13 = sqlalchemy.select(cen_tbl_census.columns.state, cen_tbl_census.columns.sex)
stmt13 = stmt13.distinct().order_by(cen_tbl_census.columns.state, cen_tbl_census.columns.sex)
print(stmt13)
print()
with cen_engine.connect() as conn13:
    result_set13 = conn13.execute(stmt13).fetchall()
    print(result_set13[:5])

#### Order by a Single Column (Exercise)

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# Select distinct records of the state column of the census table and order them.
stmt14 = sqlalchemy.select(sqlalchemy.distinct(cen_tbl_census.columns.state))
stmt14 = stmt14.order_by(cen_tbl_census.columns.state)
print(stmt14)
print()
with cen_engine.connect() as conn14:
    result_set14 = conn14.execute(stmt14).fetchall()
    print(result_set14[:5])

#### Order in Descending Order by a Single Column (Exercise)

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# Select all records of the state column of the census table and order them descending.
stmt15 = sqlalchemy.select(cen_tbl_census.columns.state)
stmt15 = stmt15.distinct().order_by(sqlalchemy.desc(cen_tbl_census.columns.state))
print(stmt15)
print()
with cen_engine.connect() as conn15:
    result_set15 = conn15.execute(stmt15).fetchall()
    print(result_set15[:10])

#### Order by Multiple Columns (Exercise)

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# Select all records of the state, sex, and age columns of the census table
# and order the records by state and descending by age.
stmt16 = sqlalchemy.select(cen_tbl_census.columns.state, cen_tbl_census.columns.sex, cen_tbl_census.columns.age)
stmt16 = stmt16.order_by(cen_tbl_census.columns.state, sqlalchemy.desc(cen_tbl_census.columns.age))
print(stmt16)
print()
with cen_engine.connect() as conn16:
    result_set16 = conn16.execute(stmt16).fetchall()
    print(result_set16[:20])

### Counting, Summing, and Grouping Data

Counting, summing, and grouping come from `sqlalchemy.func`. It is more efficient to have the database do this work than to process the result set using Python. These functions aggregate data by collapsing the result into a single row. Do not import sum from sqlalchemy.func because it will cover Python's built-in sum function.

#### Summing (Demonstration)

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
stmt17 = sqlalchemy.select(sqlalchemy.func.sum(cen_tbl_census.columns.pop2008))
print(stmt17)
print()
with cen_engine.connect() as conn17:
    result_set17 = conn17.execute(stmt17).scalar()
    print(result_set17)

#### Group by and Sum (Demonstration)

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
stmt18 = sqlalchemy.select(cen_tbl_census.columns.sex, sqlalchemy.func.sum(cen_tbl_census.columns.pop2008))
stmt18 = stmt18.group_by(cen_tbl_census.columns.sex)
print(stmt18)
print()
with cen_engine.connect() as conn18:
    result_set18 = conn18.execute(stmt18).fetchall()
    print(result_set18)

#### Group by Multiple Columns (Demonstration)

Group by supports multiple columns to group by with a pattern similar to order_by. Every column of the selection must be grouped or aggregated by a function. This example groups by sex and age, calculating the sum of pop2008 for each group.

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
stmt19 = \
    sqlalchemy.select(
        cen_tbl_census.columns.sex,
        cen_tbl_census.columns.age,
        sqlalchemy.func.sum(cen_tbl_census.columns.pop2008))
stmt19 = stmt19.group_by(cen_tbl_census.columns.sex, cen_tbl_census.columns.age)
print(stmt19)
print()
with cen_engine.connect() as conn19:
    result_set19 = conn19.execute(stmt19).fetchall()
    print(result_set19[:10])

#### Label Aggregate Columns (Demonstration)

SQLAlchemy creates column names for functions in the result set, such as "count_1". This can make it difficult to manage the result set. These automatic names can be replaced with user-specified names using the label function.

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
stmt20 = \
    sqlalchemy.select(
        cen_tbl_census.columns.sex,
        sqlalchemy.func.sum(cen_tbl_census.columns.pop2008).label("pop2008_sum"))
stmt20 = stmt20.group_by(cen_tbl_census.columns.sex)
print(stmt20)
print()
with cen_engine.connect() as conn20:
    result_set20 = conn20.execute(stmt20).fetchall()
    print(result_set20[0]._mapping.keys())
    print(result_set20)

#### Counting Distinct Data (Exercise)

Use `sqlalchemy.func.count()` to count the number of values in a column.

```python
sqlalchemy.select(sqlalchemy.func.count(cen_tbl_census.columns.pop2008))
sqlalchemy.select(sqlalchemy.func.count(cen_tbl_census.columns.pop2008.distinct()))
```

Use `fetchall()`, `first()`, or `scalar()` on a ResultProxy object to fetch results, depending on what is desired.

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# Count the distinct values in the state field of table census.
stmt21 = sqlalchemy.select(sqlalchemy.func.count(cen_tbl_census.columns.state.distinct()))
print(stmt21)
print()
with cen_engine.connect() as conn21:
    distinct_state_count21 = conn21.execute(stmt21).scalar()
    print(distinct_state_count21)

#### Count of Records by State (Exercise)
Use `group_by()` to help get a count for each record with a particular value in another column. Pass a column to the `group_by()` method and use an aggregate function like `sum()` or `count()`. `group_by()` can take multiple arguments.

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# Get the value of the state field and a count of the values in the age field,
# grouping by the state column.
stmt22 = \
    sqlalchemy.select(
        cen_tbl_census.columns.state,
        sqlalchemy.func.count(cen_tbl_census.columns.age).label("age_count"))
stmt22 = stmt22.group_by(cen_tbl_census.columns.state)
print(stmt22)
print()
with cen_engine.connect() as conn22:
    result_set22 = conn22.execute(stmt22).fetchall()
    print(result_set22)
    print(result_set22[0]._mapping.keys())

#### Determine the Population Sum by State (Exercise)

Pair `func.sum` with `group_by` to get a sum of the population by state and use the label method to name the output. Note how the result of calling `func.sum().label()` can be stored in a variable.

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# Get the value of the state field and the sum of the pop2008 field grouped by
# state. Build the expression to calculate the sum of the pop2008 field
# labeled as "population".
pop2008_sum23 = sqlalchemy.func.sum(cen_tbl_census.columns.pop2008).label("population")
print(pop2008_sum23)
print()
stmt23 = sqlalchemy.select(cen_tbl_census.columns.state, pop2008_sum23)
stmt23 = stmt23.group_by(cen_tbl_census.columns.state)
print(stmt23)
print()
with cen_engine.connect() as conn23:
    result_set23 = conn23.execute(stmt23).fetchall()
    print(result_set23)
    # Print the keys/column names of the result set.
    print(result_set23[0]._mapping.keys())

### Use pandas and matplotlib to Visualize Data

#### Create a DataFrame from a ResultSet (Demonstration)

A SQLAlchemy result set can be applied to a pandas DataFrame. However, the DataFrame columns must be set to the result set keys.

In [ ]:
# Reuse result_set23 from above.
df23 = pd.DataFrame(result_set23)
df23.columns = result_set23[0]._mapping.keys()
print(df23.head())

#### Plot a DataFrame from a ResultSet (Demonstration)

From here, do anything you would ordinarily do with a DataFrame object, for example, graphing. This example limits the input data for plotting to 10 rows of the DataFrame.

In [ ]:
# Reused df23 from above.
df23[10:20].plot.barh()
plt.show()

#### SQLAlchemy ResultsProxy and Pandas DataFrames (Exercise)

As shown above, we can feed a ResultSet object directly into a pandas DataFrame. This example uses the ResultProxy object instead. Here, the ResultProxy contains the results of obtaining the populations of California, Texas, New York, Florida, and Illinois, with columns state and population.

In [ ]:
# Reuse cen_engine and cen_tbl_census from above.
states24 = ["California", "Texas", "New York", "Florida", "Illinois"]
pop2008_sum24 = sqlalchemy.func.sum(cen_tbl_census.columns.pop2008).label("population")
stmt24 = sqlalchemy.select(cen_tbl_census.columns.state, pop2008_sum24)
stmt24 = stmt24.where(cen_tbl_census.columns.state.in_(states24))
stmt24 = stmt24.group_by(cen_tbl_census.columns.state)
print(stmt24)
print()
with cen_engine.connect() as conn24:
    result_set24 = conn24.execute(stmt24).fetchall()
# Show the result set.
print(result_set24)
print(result_set24[0]._mapping.keys())
# Create and print the DataFrame.
df24 = pd.DataFrame(result_set24)
df24.columns = result_set24[0]._mapping.keys()
print(df24)

#### From SQLAlchemy Results to a Graph (Exercise)

This is a data visualization exercise for exploratory data analysis or communication of your data.

In [ ]:
# Reuse df24 from above.
df24.plot.bar()
plt.show()

## Advanced SQLAlchemy Queries

### Calculating Values in a Query

Math operators: `+`, `-`, `*`, `/`, `%` work differently on different data types.

#### Calculate difference between population in 2008 and 2000 (Demonstration)

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# Select the difference in population in 2008 from that in 2000,
# grouping by age and ordering descending.
# Return the top 5 results.
stmt25 = \
    sqlalchemy.select(
        cen_tbl_census.columns.age,
        sqlalchemy.func.sum(
            cen_tbl_census.columns.pop2008 - cen_tbl_census.columns.pop2000
        ).label("pop_change")
    )
stmt25 = stmt25.group_by(cen_tbl_census.columns.age)
stmt25 = stmt25.order_by(sqlalchemy.desc('pop_change'))
stmt25 = stmt25.limit(5)
print(stmt25)
print()
with cen_engine.connect() as conn25:
    result_set25 = conn25.execute(stmt25).fetchall()
    print(result_set25)

#### Treat Data Differently Based on a Condition (Demonstration)

The `case` statement treats data differently based on a condition. It accepts a list of conditions to match and a column to return if the condition matches. It ends with an `else` to determine what to do with rows that do not match any prior conditions.

This example would be easier if written using a `where` clause, but `case` can be used when `where` will not work as desired.

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# Select the total population of New York in 2008.
stmt26 = sqlalchemy.select(
    sqlalchemy.func.sum(
        sqlalchemy.case(
            (cen_tbl_census.columns.state == "New York", cen_tbl_census.columns.pop2008),
            else_=0)))
print(stmt26)
print()
with cen_engine.connect() as conn26:
    result_set26 = conn26.execute(stmt26).fetchall()
    print(result_set26)

#### Convert Data to a Different Type (Demonstration)

The `cast` statement converts data to a different type, such as converting integers to floats for division or strings to dates and times. `cast` accepts a column or expression and the target type.

This example finds the percentage of the total population that lives in New York.

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
# It is hard to format the query to display the meaningful parts.
stmt27 = sqlalchemy.select(
    100 *
    (sqlalchemy.func.sum(
        sqlalchemy.case(
            (cen_tbl_census.columns.state == "New York", cen_tbl_census.columns.pop2008),
            else_=0))
        /
        sqlalchemy.cast(
            sqlalchemy.func.sum(cen_tbl_census.columns.pop2008),
            sqlalchemy.Float)
    ).label('ny_percent')
)
print(stmt27)
print()
with cen_engine.connect() as conn27:
    result_set27 = conn27.execute(stmt27).scalar()
    print(result_set27)

#### Connect to a MySQL Database (Exercise)

The course uses the pymysql database driver (https://github.com/PyMySQL/PyMySQL), a pure Python driver with compatibility to mysqlclient.

In [ ]:
# Connect to a MySQL database hosted by AWS.
my_dns = "mysql+pymysql://student:datacamp"
my_dns += "@courses.csrrinzqubik.us-east-1.rds.amazonaws.com:3306/census"
my_engine = sqlalchemy.create_engine(my_dns)
my_inspector = sqlalchemy.inspect(my_engine)
print(my_inspector.get_table_names())
my_metadata = sqlalchemy.MetaData()
my_tbl_census = sqlalchemy.Table("census", my_metadata, autoload_with=my_engine)
print(repr(my_tbl_census))

# I am able to use this database, unlike the postgreSQL database.
# However, the data is not correct.
with my_engine.connect() as conn28:
    stmt28 = sqlalchemy.text("select * from census")
    result_proxy28 = conn28.execute(stmt28)
    result_set28 = result_proxy28.fetchall()
    print(result_set28[0])
    # The sum is not correct.
    stmt29 = sqlalchemy.text("select sum(pop2008) from census")
    print(conn28.execute(stmt29).fetchall())

#### Calculate a Difference between Two Columns (Exercise)

Find the top 5 states by population growth between 2000 and 2008. The directions for the exercise omit the sum of the differences. This is the correct code.

In [ ]:
# This code reuses cen_engine and cen_tbl_census from above.
# We are using the sqlite3 database here.
stmt30 = \
    sqlalchemy.select(
        cen_tbl_census.columns.state,
        sqlalchemy.func.sum(cen_tbl_census.columns.pop2008 - cen_tbl_census.columns.pop2000).label("pop_change"))
stmt30 = stmt30.group_by(cen_tbl_census.columns.state)
stmt30 = stmt30.order_by(sqlalchemy.desc("pop_change"))
stmt30 = stmt30.limit(5)
print(stmt30)
print()
with cen_engine.connect() as conn30:
    result_set30 = conn30.execute(stmt30).fetchall()
    for row30 in result_set30:
        print("{}: {}".format(row30.state, row30.pop_change))

#### Determine the Overall Percentage of Women (Exercise)

Functions and operators can be combined in a select statement. We can also use the case expression to operate on data that meets specific criteria while not affecting the query as a whole. While some databases convert integers to floats for division, we can use the cast function to convert an expression to a particular type.

Calculate the percentage of the population in 2000 that is female.

In [ ]:
# Reuse cen_engine and cen_tbl_census from above.
female_pop2000 = \
    sqlalchemy.func.sum(
        sqlalchemy.case(
            (cen_tbl_census.columns.sex == "F", cen_tbl_census.columns.pop2000),
            else_=0))
total_pop2000 = sqlalchemy.cast(sqlalchemy.func.sum(cen_tbl_census.columns.pop2000), sqlalchemy.Float)
stmt31 = sqlalchemy.select(100 * (female_pop2000 / total_pop2000))
print(stmt31)
print()
with cen_engine.connect() as conn31:
    percent_female = conn31.execute(stmt31).scalar()
    print(percent_female)

### SQL Relationships

Table relationships allow us to avoid data duplication. Relationships make it easy to change data in one place (e.g., the building addresses for employees). It is useful to break out information from a table that we don't need very often.

#### Join Tables (Demonstration)

The census database has two tables, census and state_fact. The columns in table census are: state, sex, age, pop2000, pop2008. The columns in state_fact are: name, abbreviation, type.

SQLAlchemy knows how to create the inner join _when the foreign key constraints are defined in the database_.

In [ ]:
# Reuse cen_engine, cen_metadata, and cen_tbl_census from above.
# Because the sqlite3 database does not have foreign keys defined,
# a where clause must be added to prevent a cross join.
cen_tbl_state_fact = sqlalchemy.Table("state_fact", cen_metadata, autoload_with=cen_engine)
stmt32 = sqlalchemy.select(cen_tbl_census.columns.pop2008, cen_tbl_state_fact.columns.abbreviation)
print(stmt32)
print()
# Extra:
# One way to prevent the cross join is to use where.
stmt32 = stmt32.where(cen_tbl_census.columns.state == cen_tbl_state_fact.columns.name)
print(stmt32)
print()
with cen_engine.connect() as conn32:
    result_set32 = conn32.execute(stmt32).fetchall()
    print(result_set32[:10])

#### Using `select_from()` to Join Tables (Demonstration)

A SQLAlchemy join clause accepts a Table and an optional expression that explains how the two tables are related. Unfortunately, the sqlite3 database doesn't have foreign key relationships defined. The optional expression is not needed if the relationship is predefined and available via reflection. The join class comes immediately after the select clause and prior to any where, order_by, or group_by clauses.

This example fails because foreign key constraints are not present.

In [ ]:
# Reuse cen_tbl_census, cen_tbl_state_fact, and cen_engine from above.
stmt33 = sqlalchemy.select(sqlalchemy.func.sum(cen_tbl_census.columns.pop2000))
# This fails:
# NoForeignKeysError: Can't find any foreign key relationships between
# 'census' and 'state_fact'.
try:
    stmt33 = stmt33.select_from(cen_tbl_census.join(cen_tbl_state_fact))
    stmt33 = stmt33.where(cen_tbl_state_fact.columns.circuit_court == '10')
    print(stmt33)
    print()
    with cen_engine.connect() as conn33:
        result33 = conn33.execute(stmt33).scalar()
    print(result33) # 14945252
except Exception as exc33:
    print(exc33)

When joining tables without a predefined relationship, `join()` accepts a table and an optional expression that explains how the two tables are related. This will only join on data that matches between the two columns, and it does not work on columns of different types.

In [ ]:
# Reuse cen_tbl_census, cen_tbl_state_fact, and cen_engine from above.
stmt34 = sqlalchemy.select(sqlalchemy.func.sum(cen_tbl_census.columns.pop2000))
stmt34 = \
    stmt34.select_from(
        cen_tbl_census.join(
            cen_tbl_state_fact,
            cen_tbl_census.columns.state == cen_tbl_state_fact.columns.name))
stmt34 = stmt34.where(cen_tbl_state_fact.columns.circuit_court == '10')
print(stmt34)
print()
with cen_engine.connect() as conn34:
    result34 = conn34.execute(stmt34).scalar()
print(result34)

In [ ]:
# Census division "East South Central".
# Reuse cen_tbl_census, cen_tbl_state_fact, and cen_engine from above.
stmt35 = sqlalchemy.select(sqlalchemy.func.sum(cen_tbl_census.columns.pop2000))
stmt35 = \
    stmt35.select_from(
        cen_tbl_census.join(
            cen_tbl_state_fact,
            cen_tbl_census.columns.state == cen_tbl_state_fact.columns.name))
stmt35 = stmt35.where(
    cen_tbl_state_fact.columns.census_division_name == 'East South Central')
print(stmt35)
print()
with cen_engine.connect() as conn35:
    result35 = conn35.execute(stmt35).scalar()
print(result35)

#### Automatic Joins with an Established Relationship (Exercise)

The code in the DataCamp browser creates a cross join with 447372 rows returned. The foreign key constraint appears not to exist in the database used by the course.

In [ ]:
# Reuse cen_tbl_census, cen_tbl_state_fact, and cen_engine from above.
# /var/folders/6c/92sz2xyx1bgftr2gq8fvvk8m0000gn/T/ipykernel_10346/3806309245.py:4:
# SAWarning: SELECT statement has a cartesian product between FROM element(s) "state_fact" and FROM element "census". 
# Apply join condition(s) between each element to resolve.
#   result = conn.execute(stmt).first()
stmt36 = sqlalchemy.select(cen_tbl_census.columns.pop2000, cen_tbl_state_fact.columns.abbreviation)
with cen_engine.connect() as conn36:
    result36 = conn36.execute(stmt36).first()
    for key in result36._mapping.keys():
        print(key, getattr(result36, key))

#### Joins (Exercise)

In [ ]:
# Reuse cen_tbl_census, cen_tbl_state_fact, and cen_engine from above.
stmt37 = sqlalchemy.select(cen_tbl_census, cen_tbl_state_fact)
stmt37 = \
    stmt37.select_from(
        cen_tbl_census.join(
            cen_tbl_state_fact,
            cen_tbl_census.columns.state == cen_tbl_state_fact.columns.name))
print(stmt37)
print()
with cen_engine.connect() as conn37:
    # result_set37 = conn37.execute(stmt37).fetchall()
    # print(len(result_set37))
    result_set37 = conn37.execute(stmt37).first()
    for key in result_set37._mapping.keys():
        print(key, getattr(result_set37, key))

#### More Practice with Joins (Exercise)

In [ ]:
# Reuse cen_tbl_census, cen_tbl_state_fact, and cen_engine from above.
# Select state name, total population in 2008, and census division name.
stmt38 = \
    sqlalchemy.select(
        cen_tbl_census.columns.state,
        sqlalchemy.func.sum(cen_tbl_census.columns.pop2008),
        cen_tbl_state_fact.columns.census_division_name)
stmt38 = \
    stmt38.select_from(
        cen_tbl_census.join(
            cen_tbl_state_fact,
            cen_tbl_census.columns.state == cen_tbl_state_fact.columns.name))
stmt38 = stmt38.group_by(cen_tbl_state_fact.columns.name)
print(stmt38)
print()
with cen_engine.connect() as conn38:
    result_set38 = conn38.execute(stmt38).fetchall()
    for row38 in result_set38:
        print(row38)

### Working with Hierarchical Tables

This section of the course makes use of the employees.sqlite file.
	
An example of a hierarchical table is an employees table with a column for a manager, who is also an employee. When using such a table, the table must have two different aliases in the query, using the `alias()` method of a `sqlalchemy.Table` object.

#### Select from Hierarchical Table (Demonstration)

In [ ]:
# Select each manager and their employees.
emp_dns = "sqlite:///employees.sqlite"
emp_engine = sqlalchemy.create_engine(emp_dns, future=True)
emp_metadata = sqlalchemy.MetaData()
emp_tbl_employees = sqlalchemy.Table("employees", emp_metadata, autoload_with=emp_engine)
emp_tbl_managers = emp_tbl_employees.alias()
stmt39 = sqlalchemy.select(
    emp_tbl_managers.columns.name.label('manager'),
    emp_tbl_employees.columns.name.label('employee'))
# The last ) was missing from this code line in the video.
stmt39 = \
    stmt39.select_from(
        emp_tbl_employees.join(
            emp_tbl_managers,
            emp_tbl_managers.columns.id == emp_tbl_employees.columns.mgr))
stmt39 = stmt39.order_by(emp_tbl_managers.columns.name)
print(stmt39)
print()
with emp_engine.connect() as conn39:
    result_set39 = conn39.execute(stmt39).fetchall()
    print(result_set39)

#### Aggregate Functions with a Hierarchical Table (Demonstration)

Hierarchical tables can be tricky to use with `group_by` and `func` methods; think of a hierarchical table as two different tables. Have the table in the `group_by` and the alias in the function, or vice versa.

In [ ]:
# Reuse emp_tbl_employees, emp_tbl_managers, and emp_engine from above.
# Select total salaries for each manager.
# The warning comes from the data type of the sal column, which is
# NUMERIC(7,2).
stmt40 = sqlalchemy.select(emp_tbl_managers.columns.name, sqlalchemy.func.sum(emp_tbl_employees.columns.sal))
stmt40 = \
    stmt40.select_from(
        emp_tbl_employees.join(
            emp_tbl_managers,
            emp_tbl_managers.columns.id == emp_tbl_employees.columns.mgr))
stmt40 = stmt40.group_by(emp_tbl_managers.columns.name)
print(stmt40)
print()
with emp_engine.connect() as conn40:
    result_set40 = conn40.execute(stmt40).fetchall()
    print(result_set40)

#### Using alias to Handle Same Table Joined Queries (Exercise)

Determine who reports to each manager. Solution code.

In [ ]:
# Reuse emp_tbl_employees, emp_tbl_managers, and emp_engine from above.
# For each manager, determine reports.
stmt41 = sqlalchemy.select(
    emp_tbl_managers.columns.name.label('manager'),
    emp_tbl_employees.columns.name.label('employee'))
stmt41 = stmt41.where(emp_tbl_managers.columns.id == emp_tbl_employees.columns.mgr)
stmt41 = stmt41.order_by(emp_tbl_managers.columns.name)
print(stmt41)
print()
with emp_engine.connect() as conn41:
    result_set41 = conn41.execute(stmt41).fetchall()
    for row41 in result_set41:
        print(row41)

#### Leveraging Functions and group_bys with Hierarchical Data (Exercise)

It's also common to want to roll up date from a hierarchical table. You must be careful which alias you use to perform the group_bys and which table you use for the function.

In [ ]:
# Reuse emp_tbl_employees, emp_tbl_managers, and emp_engine from above.
# Get a count of employees for each manager.
stmt42 = sqlalchemy.select(emp_tbl_managers.columns.name.label('manager'),
    sqlalchemy.func.count(emp_tbl_employees.columns.mgr))
stmt42 = stmt42.where(emp_tbl_managers.columns.id == emp_tbl_employees.columns.mgr)
stmt42 = stmt42.group_by(emp_tbl_managers.columns.name)
print(stmt42)
print()
with emp_engine.connect() as conn42:
    result_set42 = conn42.execute(stmt42).fetchall()
    for row42 in result_set42:
        print(row42)

### Handling Large Results

Use the `fetchmany()` method of a result set to specify the number of rows to act upon. Loop over the `fetchmany()` call, which returns an empty list when there are no more records. After looping, call the `close()` method of the ResultProxy object.

#### Working on Blocks of Records (Exercise)

In [ ]:
# Reuse cen_tbl_census, cen_tbl_state_fact, and cen_engine from above.
stmt43 = sqlalchemy.select(cen_tbl_census.columns.state)
print(stmt43)
print()
with cen_engine.connect() as conn43:
    result_proxy43 = conn43.execute(stmt43)
    more_results = True
    state_count = {}
    while more_results:
        partial_results = result_proxy43.fetchmany(50)
        if partial_results == []:
            more_results = False
        for row43 in partial_results:
            if row43.state in state_count:
                state_count[row43.state] += 1
            else:
                state_count[row43.state] = 1
    result_proxy43.close()
    print(state_count)

## Creating and Manipulating Your Own Databases

### Creating Databases and Tables

Configuring and using database servers is beyond the scope of this course. This course uses file-based sqlite for examples of creating databases and tables.

Create tables using a sqlalchemy.MetaData object as shown below. With sqlite, the `metadata.create_all(engine)` statement will create the database and file if they do not already exist.

Altering tables requires using raw SQL or alembic (https://pypi.org/project/alembic/), both being outside the scope of this course.

#### Create Table (Demonstration)

Additional column options include `asdecimal` and  `unique`. I modified the example code.

In [ ]:
t1_dns = "sqlite:///tutorial1.sqlite"
t1_engine = sqlalchemy.create_engine(t1_dns, future=True)
t1_metadata = sqlalchemy.MetaData()
# Define the column types of the employees table. Use named arguments.
t1_tbl_employees = \
    sqlalchemy.Table(
        'employees',
        t1_metadata,
        sqlalchemy.Column(
            name='id',
            type_=sqlalchemy.Integer(),
            nullable=False,
            primary_key=True),
        sqlalchemy.Column(
            name='name',
            type_=sqlalchemy.String(255),
            nullable=False),
        sqlalchemy.Column(
            name='salary',
            type_=sqlalchemy.Float(asdecimal=True),
            nullable=False),
        sqlalchemy.Column(
            name='active',
            type_=sqlalchemy.Boolean(),
            nullable=False)
    )
# With employees associated with metadata, create the tables using metadata.create_all(engine).
t1_metadata.create_all(t1_engine)
t1_inspector = sqlalchemy.inspect(t1_engine)
print(t1_inspector.get_table_names())
print(repr(t1_tbl_employees))
print(t1_tbl_employees.constraints)

#### Create Table (Demonstration)

This example shows how to build a table with additional options.

In [ ]:
t2_dns = "sqlite:///tutorial2.sqlite"
t2_engine = sqlalchemy.create_engine(t2_dns, future=True)
t2_metadata = sqlalchemy.MetaData()
# Define the column types of the employees table. Use positional arguments.
t2_tbl_employees = \
    sqlalchemy.Table(
        'employees',
        t2_metadata,
        sqlalchemy.Column(
            'id',
            sqlalchemy.Integer()),
        sqlalchemy.Column(
            'name',
            sqlalchemy.String(255),
            unique=True,
            nullable=False),
        sqlalchemy.Column(
            'salary',
            sqlalchemy.Float(asdecimal=True),
            default=100.00),
        sqlalchemy.Column(
            'active',
            sqlalchemy.Boolean(),
            default=True)
    )
# With employees associated with metadata, create the tables using metadata.create_all(engine).
t2_metadata.create_all(t2_engine)
t2_inspector = sqlalchemy.inspect(t2_engine)
print(t2_inspector.get_table_names())
print(repr(t2_tbl_employees))
print(t2_tbl_employees.constraints)

#### Create Table (Exercise)

Earlier in the course, we used the Table object to reflect a table from an existing database using the `autoload_with` parameter, but here we call `sqlalchemy.Table()` to create a new Table object.

In [ ]:
t3_dns = "sqlite:///tutorial3.sqlite"
t3_engine = sqlalchemy.create_engine(t3_dns, future=True)
t3_metadata = sqlalchemy.MetaData()
# Define the column types of the data table.
t3_tbl_data = \
    sqlalchemy.Table(
        'data',
        t3_metadata,
        sqlalchemy.Column(
            'name',
            sqlalchemy.String(255)),
        sqlalchemy.Column(
            'count',
            sqlalchemy.Integer()),
        sqlalchemy.Column(
            'amount',
            sqlalchemy.Float()),
        sqlalchemy.Column(
            'valid',
            sqlalchemy.Boolean()))
# Use the metadata to create the table in the database.
t3_metadata.create_all(t3_engine)
# Print table details.
print(repr(t3_tbl_data))

#### Create Table with Constraints and Data Defaults (Exercise)

Create a table with some constraints and default values.

In [ ]:
t4_dns = "sqlite:///tutorial4.sqlite"
t4_engine = sqlalchemy.create_engine(t4_dns, future=True)
t4_metadata = sqlalchemy.MetaData()
# Define the column types of the data table.
t4_tbl_data = \
    sqlalchemy.Table(
        'data',
        t4_metadata,
        sqlalchemy.Column(
            'name',
            sqlalchemy.String(255),
            unique=True),
        sqlalchemy.Column(
            'count',
            sqlalchemy.Integer(),
            default=1),
        sqlalchemy.Column(
            'amount',
            sqlalchemy.Float()),
        sqlalchemy.Column(
            'valid',
            sqlalchemy.Boolean(),
            default=False))
# Use the metadata to create the table in the database.
t4_metadata.create_all(t4_engine)
# Print table details.
print(repr(t4_metadata.tables['data']))

### Inserting Data into a Table

Add data to a table using the `insert()` method. `insert()` takes the table we are loading data into as the argument. We add all the values we want to insert in with the values clause as column=value pairs. `insert()` doesn't return any rows, so we don't call a fetch method.

These are the different ways to use database transactions when inserting data:

Let the Engine's context manager manage the transaction (recommended by
the documentation at
https://docs.sqlalchemy.org/en/14/core/connections.html#using-transactions)

```python
with ch5_engine.begin() as conn64:
    result_proxy64 = conn64.execute(stmt64, values_list64)
    print(result_proxy64.rowcount)
```

Let the Connection's context manager manage the transaction:

```python
with ch5_engine.connect() as conn64:
    with conn64.begin():
        result_proxy64 = conn64.execute(stmt64, values_list64)
        print(result_proxy64.rowcount)
```

Manage the transaction explicitly:

```python
with ch5_engine.connect() as conn64:
    result_proxy64 = conn64.execute(stmt64, values_list64)
    print(result_proxy64.rowcount)
    conn64.commit()
```

#### Insert One Employee (Demonstration)

In [ ]:
# Reuse t2_tbl_employees and t2_engine from above.
stmt44 = sqlalchemy.insert(t2_tbl_employees).values(id=1, name='Jason', salary=1.00, active=True)
print(stmt44)
print()
with t2_engine.begin() as conn44:
    result_proxy44 = conn44.execute(stmt44)
    print(result_proxy44.rowcount)

#### Insert Multiple Employees (Demonstration)

Insert multiple rows by building an insert statement without any values. Build a list of dictionaries that represent all the values clauses for the rows you want to insert. Pass both the stmt variable and the values list to the execute method on connection.

In [ ]:
# Reuse t2_tbl_employees and t2_engine from above.
stmt45 = sqlalchemy.insert(t2_tbl_employees)
print(stmt45)
print()
values_list45 = [
    {'id': 2, 'name': 'Rebecca', 'salary': 2.00, 'active': True},
    {'id': 3, 'name': 'Bob', 'salary': 0.00, 'active': False}
]
with t2_engine.begin() as conn45:
    result_proxy45 = conn45.execute(stmt45, values_list45)
    print(result_proxy45.rowcount) #2

#### Insert a Single Row (Exercise)

In [ ]:
# Running the code twice causes this exception:
# IntegrityError: (sqlite3.IntegrityError) UNIQUE constraint failed: data.name
# Reuse t4_tbl_data, t4_engine from above.
stmt46 = sqlalchemy.insert(t4_tbl_data).values(name='Anna', count=1, amount=1000.00, valid=True)
print(stmt46)
print()
with t4_engine.begin() as conn46:
    results_proxy46 = conn46.execute(stmt46)
    print(results_proxy46.rowcount)
# Select the data.
stmt47 = sqlalchemy.select(t4_tbl_data).where(t4_tbl_data.columns.name == 'Anna')
print(stmt47)
print()
with t4_engine.connect() as conn47:
    print(conn47.execute(stmt47).first())

#### Insert Multiple Rows (Exercise)

In [ ]:
# Reuse t4_tbl_data and t4_engine from above.
values_list48 = [
    {'name': 'Brianna', 'count': 1, 'amount': 1000.00, 'valid': True},
    {'name': 'Taylor', 'count': 1, 'amount': 750.00, 'valid': False}
]
stmt48 = sqlalchemy.insert(t4_tbl_data)
print(stmt48)
print()
with t4_engine.begin() as conn48:
    result_proxy48 = conn48.execute(stmt48, values_list48)
    print(result_proxy48.rowcount)

#### Load CSV Data into a Table (Exercise)

Here it is: the most important code in this lesson.

Use the `csv` module to set up a `csv_reader` object, which can iterate over the lines in a given CSV file. Using the enumerate function, loop over the `csv_reader` to handle the results one row at a time.

For example, reading the first row would return:

    ['Illinois', 'M', '0', '89600', '95012']

where the values correspond to the column names 'state', 'sex', 'age', 'pop2000', and 'pop2008'.
    
The code in the course solution has a bug: It doesn't load the last values. It loads 8722 rows, not 8772 rows. When you submit the answer, the response is "Great work! It looks like there are 8722 rows in this table."

In [ ]:
# Create a database with a census table.
t5_dns = "sqlite:///tutorial5.sqlite"
t5_engine = sqlalchemy.create_engine(t5_dns, future=True)
t5_metadata = sqlalchemy.MetaData()
# Define the column types of the data table.
t5_tbl_census = \
    sqlalchemy.Table(
        'census',
        t5_metadata,
        sqlalchemy.Column(
            name='state',
            type_=sqlalchemy.String(255)),
        sqlalchemy.Column(
            name='sex',
            type_=sqlalchemy.String(1)),
        sqlalchemy.Column(
            name='age',
            type_=sqlalchemy.Integer()),
        sqlalchemy.Column(
            name='pop2000',
            type_=sqlalchemy.Integer()),
        sqlalchemy.Column(
            name='pop2008',
            type_=sqlalchemy.Integer()))
# Use the metadata to create the table in the database.
t5_metadata.create_all(t5_engine)

# Prepare an insert statement.
stmt49 = sqlalchemy.insert(t5_tbl_census)

# Read the CSV file and build the data records.
total_rowcount = 0
values_list49 = []
path = 'census.csv'
with open(path) as csvfile:
    csv_reader = csv.reader(csvfile)
    for row in csv_reader:
        values49 = {
            'state': row[0],
            'sex': row[1],
            'age': row[2],
            'pop2000': row[3],
            'pop2008': row[4]}
        values_list49.append(values49)

# Insert the data into the table.
with t5_engine.begin() as conn49:
    result_proxy49 = conn49.execute(stmt49, values_list49)
    print("Inserted {} rows.".format(result_proxy49.rowcount))

### Updating Data in a Database

Use the `update` method to update data in the database. An `update` statement is similar to an `insert` statement, but it includes a `where` clause to determine which record(s) will be updated. The `values` clause contains only the values we want to change as column=value pairs.

In these examples, we call Connection.rollback() to prevent permanently changing the values in the database.

#### Update a Single Row (Demonstration)

In [ ]:
# Update the salary of employee #3, then roll back.
# Reuse emp_tbl_employees and emp_engine from above.
stmt50 = sqlalchemy.update(emp_tbl_employees)
stmt50 = stmt50.where(emp_tbl_employees.columns.id == 3)
stmt50 = stmt50.values(sal=100000.00)
print(stmt50)
print()
with emp_engine.connect() as conn50:
    result_proxy50 = conn50.execute(stmt50)
    print(result_proxy50.rowcount)
    conn50.rollback()

#### Update Multiple Rows (Demonstration)

To update multiple rows, build a where clause that will select all the records you want to update. It is easy to make an error, so check the number of rows that have changed.	This example sets the salary of all employees in department 4 to 0.00.

In [ ]:
# Reuse emp_engine and emp_tbl_employees from above.
stmt51 = sqlalchemy.update(emp_tbl_employees)
stmt51 = stmt51.where(emp_tbl_employees.columns.dept == 4)
stmt51 = stmt51.values(sal=0.00)
print(stmt51)
print()
with emp_engine.connect() as conn51:
    result_proxy51 = conn51.execute(stmt51)
    print(result_proxy51.rowcount)
    conn51.rollback()

#### Correlated Update (Demonstration)

A correlated update uses a select statement to find the value for the column we are updating. This is commonly used to update records to a maximum value or change a string to match an abbreviation from another table.

Pay all the employees the same amount, the existing maximum salary in the table. This code determines the maximum salary the hard way instead of using func.max.

In [ ]:
# new_salary will become part of stmt.
# Because where is not used, all rows will be updated.
# This is more straightforward:
# new_salary = select(func.max(employees.columns.salary))
# Note the use of scalar_subquery() to avoid a warning.
# Reuse emp_engine and emp_tbl_employees from above.
new_salary = sqlalchemy.select(emp_tbl_employees.columns.sal)
new_salary = new_salary.order_by(sqlalchemy.desc(emp_tbl_employees.columns.sal))
new_salary = new_salary.limit(1)
new_salary = new_salary.scalar_subquery()
stmt52 = sqlalchemy.update(emp_tbl_employees)
stmt52 = stmt52.values(sal=new_salary)
print(stmt52)
print()
with emp_engine.connect() as conn52:
    result_proxy52 = conn52.execute(stmt52)
    print(result_proxy52.rowcount)
    conn52.rollback()

#### Update Table Rows (Exercise)

Update the fips_state column of the state_fact table using the name column in the where clause.

In [ ]:
# Reuse cen_tbl_state_fact and cen_engine from above.
stmt53 = sqlalchemy.select(cen_tbl_state_fact).where(cen_tbl_state_fact.columns.name == "New York")
with cen_engine.connect() as conn53:
    # Print the results of the selection to check that it is correct.
    print(conn53.execute(stmt53).fetchall())
stmt54 = sqlalchemy.update(cen_tbl_state_fact).values(fips_state=36)
stmt54 = stmt54.where(cen_tbl_state_fact.columns.name == "New York")
with cen_engine.connect() as conn54:
    result_proxy54 = conn54.execute(stmt54)
    print(result_proxy54.rowcount)
    # Confirm the changes.
    print(conn54.execute(stmt53).fetchall())
    # And roll back.
    conn54.rollback()

#### Updating Multiple Records (Exercise)

Update multiple rows using an appropriate where clause. Change the value in the notes field to "The Wild West".

In [ ]:
# Reuse cen_engine and cen_tbl_state_fact from above.
stmt55 = sqlalchemy.update(cen_tbl_state_fact).values(notes="The Wild West")
stmt55 = stmt55.where(cen_tbl_state_fact.columns.census_region_name == "West")
with cen_engine.connect() as conn55:
    result_proxy55 = conn55.execute(stmt55)
    print("Rows updated: ", end="")
    print(result_proxy55.rowcount)
    conn55.rollback()

#### Correlated Updates (Exercise)

Updating records with data from a select statement is called a correlated update. The select statement returns the value you use to update the records. This code updates all 51 rows in the table. There is an assumption that the order of rows in the two tables is identical. Since we don't have access to the flat_census table outside of the course, we can't test this.

```python
stmt56 = sqlalchemy.select(cen_tbl_state_fact.columns.name)
stmt56 = stmt56.where(cen_tbl_state_fact.columns.fips_state == flat_census.columns.fips_code)
stmt57 = sqlalchemy.update(flat_census).values(state_name=stmt56)
with cen_engine.connect() as conn57:
    results_proxy57 = conn57.execute(stmt57)
    print(results_proxy57.rowcount)
```

### Removing Data from a Database

#### Delete All Rows (Demonstration)

Delete data using `delete()`, which takes the table we are deleting data from as the argument. A where clause is used to choose which rows to delete. This is hard to undo, so be careful! (Use a transaction! The course hasn't taught us transactions.)

In [ ]:
# Delete all data from the table, printing the number of rows before and
# after the deletion.
# Reuse emp_engine and emp_tbl_employees from above.
stmt58 = sqlalchemy.select(sqlalchemy.func.count(emp_tbl_employees.columns.id))
print(stmt58)
print()
with emp_engine.connect() as conn58:
    print("Rows before deletion: ", end="")
    print(conn58.execute(stmt58).scalar())
stmt59 = sqlalchemy.delete(emp_tbl_employees)
with emp_engine.connect() as conn59:
    result_proxy59 = conn59.execute(stmt59)
    print("Deleted rows: ", end="")
    print(result_proxy59.rowcount)
    print("Rows after deletion: ", end="")
    print(conn59.execute(stmt58).scalar())
    conn59.rollback()

#### Delete Specific Rows (Demonstration)

Specify the rows to delete using a where clause.

In [ ]:
# Reuse emp_engine and emp_tbl_employees from above.
stmt60 = sqlalchemy.delete(emp_tbl_employees).where(emp_tbl_employees.columns.id == 3)
with emp_engine.connect() as conn60:
    result_proxy60 = conn60.execute(stmt60)
    print("Rows deleted: ", end="")
    print(result_proxy60.rowcount)
    conn60.rollback()

#### Drop a Table (Demonstration)

Use the drop method to drop a table completely. This deletes the table from the database. An argument to drop is engine, which specifies which database to drop the table from. This does not remove the table from the metadata object until the python process is restarted. Wow, this call is not what I expected.

```python
emp_tbl_employees.drop(emp_engine)
print(emp_tbl_employees.exists(emp_engine)) # False
```

#### Drop All Tables (Demonstration)

```python
emp_metadata.drop_all(emp_engine)
print(emp_inspector.get_table_names())
```

#### Deleting All Records from a Table (Exercise)

You may want to delete all records from a table so you can reload the data.

In [ ]:
# Reuse cen_tbl_census and cen_engine from above.
stmt61 = sqlalchemy.delete(cen_tbl_census)
with cen_engine.connect() as conn61:
    result_proxy61 = conn61.execute(stmt61)
    print("Rows deleted: {}".format(result_proxy61.rowcount))
    stmt62 = sqlalchemy.select(cen_tbl_census)
    print(conn61.execute(stmt62).fetchall())
    conn61.rollback()

#### Deleting Specific Records (Exercise)

Add a where clause to specify the rows to delete. For example:

```python
stmt = delete(employees).where(employees.columns.id == 3)
```

In [ ]:
# Count the number of rows deleted.
# Reuse cen_tbl_census and cen_engine from above.
stmt63 = sqlalchemy.delete(cen_tbl_census)
stmt63 = stmt63.where(
    sqlalchemy.and_(
        cen_tbl_census.columns.sex == 'M',
        cen_tbl_census.columns.age == 36))
with cen_engine.connect() as conn63:
    result_proxy63 = conn63.execute(stmt63)
    print("Rows deleted: {}".format(result_proxy63.rowcount))
    conn63.rollback()

#### Deleting a Table Completely (Exercise)

Drop the state_fact table and confirm that it no longer exists in the database.

```python
cen_tbl_state_fact.drop(cen_engine)
print(cen_tbl_state_fact.exists(cen_engine)) # False
```

Drop all tables and confirm that the census table no longer exists in the database.

```python
cen_metadata.drop_all(cen_engine)
print(cen_tbl_census.exists(cen_engine)) # False
```

## Putting it All Together

### Census Case Study

- Prepare SQLAlchemy and the database.
- Load data into the database.
- Solve data science problems with queries.

#### Set up the Engine and MetaData (Exercise)

Create a new SQLite file named chapter5.sqlite.

In [ ]:
ch5_engine = sqlalchemy.create_engine("sqlite:///chapter5.sqlite", future=True)
ch5_metadata = sqlalchemy.MetaData()

#### Create the Table (Exercise)

In [ ]:
ch5_tbl_census = \
    sqlalchemy.Table(
        'census',
        ch5_metadata,
        sqlalchemy.Column(
            name='state',
            type_=sqlalchemy.String(30)),
        sqlalchemy.Column(
            name='sex',
            type_=sqlalchemy.String(1)),
        sqlalchemy.Column(
            name='age',
            type_=sqlalchemy.Integer()),
        sqlalchemy.Column(
            name='pop2000',
            type_=sqlalchemy.Integer()),
        sqlalchemy.Column(
            name='pop2008',
            type_=sqlalchemy.Integer()))
ch5_metadata.create_all(ch5_engine)

### Populate the Database

Read data from the CSV file.

```python
values_list = []
for row in csv_reader:
    data = {
        "state": row[0],
        "sex": row[1],
        "age": row[2],
        "pop2000": row[3],
        "pop2008": row[4]}
    values_list.append(data)
```

Insert the values list into the census table.

```python
stmt = sqlalchemy.insert(employees)
for engine.connect() as conn:
    result_proxy = conn.execute(stmt, values_list)
    print(result_proxy.rowcount)
```

#### Read the Data from the CSV File (Exercise)

In [ ]:
values_list64 = []
path = 'census.csv'
with open(path) as csvfile:
    csv_reader = csv.reader(csvfile)
    for row in csv_reader:
        data = {
            "state": row[0],
            "sex": row[1],
            "age": row[2],
            "pop2000": row[3],
            "pop2008": row[4]}
        values_list64.append(data)

#### Load Data from a List into the Table (Exercise)

Repeating what was stated earlier in this course, these are the different ways to use database transactions:

Let the Engine's context manager manage the transaction (recommended by
the documentation at
https://docs.sqlalchemy.org/en/14/core/connections.html#using-transactions)

```python
with ch5_engine.begin() as conn64:
    result_proxy64 = conn64.execute(stmt64, values_list64)
    print(result_proxy64.rowcount)
```

Let the Connection's context manager manage the transaction:

```python
with ch5_engine.connect() as conn64:
    with conn64.begin():
        result_proxy64 = conn64.execute(stmt64, values_list64)
        print(result_proxy64.rowcount)
```

Manage the transaction explicitly:

```python
with ch5_engine.connect() as conn64:
    result_proxy64 = conn64.execute(stmt64, values_list64)
    print(result_proxy64.rowcount)
    conn64.commit()
```

In [ ]:
# This is the recommended way to manage transactions.
stmt64 = sqlalchemy.insert(ch5_tbl_census)
with ch5_engine.begin() as conn64:
    result_proxy64 = conn64.execute(stmt64, values_list64)
    print(result_proxy64.rowcount)

### Example Queries

#### Average Age for Males and Females (Demonstration)

In [ ]:
# Reuse ch5_tbl_census and ch5_engine from above.
stmt65 = \
    sqlalchemy.select(
        ch5_tbl_census.columns.sex,
        (sqlalchemy.func.sum(
            ch5_tbl_census.columns.pop2008 * ch5_tbl_census.columns.age)
             /
            sqlalchemy.func.sum(ch5_tbl_census.columns.pop2008)
        ).label("average_age"))
stmt65 = stmt65.group_by(ch5_tbl_census.columns.sex)
print(stmt65)
print()
with ch5_engine.connect() as conn65:
    result_set65 = conn65.execute(stmt65).fetchall()
    print(result_set65)

#### Percentage of Females in New York (Demonstration)

6.4% of females live in New York.

In [ ]:
# Reuse ch5_tbl_census and ch5_engine from above.
stmt66 = \
    sqlalchemy.select(
        100 *    
        (sqlalchemy.func.sum(
            sqlalchemy.case(
                (ch5_tbl_census.columns.state == "New York", ch5_tbl_census.columns.pop2008),
                else_=0))
        /
        sqlalchemy.cast(
            sqlalchemy.func.sum(
                ch5_tbl_census.columns.pop2008), sqlalchemy.Float)).label('ny_percent'))
print(stmt66)
print()
with ch5_engine.connect() as conn66:
    result_set66 = conn66.execute(stmt66).fetchall()
    print(result_set66)

#### Top 5 States by Population Change (Demonstration)

In [ ]:
# Find the top five states by population change from 2000 to 2008.
# Resuse ch5_tbl_census and ch5_engine from above.
stmt67 = \
    sqlalchemy.select(
        ch5_tbl_census.columns.state,
	    sqlalchemy.func.sum(ch5_tbl_census.columns.pop2008 - ch5_tbl_census.columns.pop2000).label("pop_change"))
stmt67 = stmt67.group_by(ch5_tbl_census.columns.state)
stmt67 = stmt67.order_by(sqlalchemy.desc("pop_change"))
stmt67 = stmt67.limit(5)
print(stmt67)
print()
with ch5_engine.connect() as conn67:
    result_set67 = conn67.execute(stmt67).fetchall()
    print(result_set67)

#### Determine the Average Age by Sex (Exercise)

In [ ]:
stmt68 = \
    sqlalchemy.select(
        ch5_tbl_census.columns.sex,
        (
            sqlalchemy.func.sum(ch5_tbl_census.columns.pop2008 * ch5_tbl_census.columns.age)
            /
            sqlalchemy.func.sum(ch5_tbl_census.columns.pop2008)
        ).label("average_age")
    )
stmt68 = stmt68.group_by(ch5_tbl_census.columns.sex)
print(stmt68)
print()
with ch5_engine.connect() as conn68:
    result_set68 = conn68.execute(stmt68).fetchall()
    for row68 in result_set68:
        print(row68[0], row68[1])

#### Determine the Percentage of Women in Each State (Exercise)

In [ ]:
stmt69 = \
    sqlalchemy.select(
        ch5_tbl_census.columns.state,
        (
            100 *
            sqlalchemy.func.sum(
                sqlalchemy.case(
                    (ch5_tbl_census.columns.sex == "F", ch5_tbl_census.columns.pop2000),
                    else_=0)
            )
            /
            sqlalchemy.cast(
                sqlalchemy.func.sum(ch5_tbl_census.columns.pop2000), sqlalchemy.Float
            )
        ).label("percent_female"))
stmt69 = stmt69.group_by(ch5_tbl_census.columns.state)
with ch5_engine.connect() as conn69:
    result_set69 = conn69.execute(stmt69).fetchall()
    for row69 in result_set69:
        print(row69.state, row69.percent_female)

#### Determine the Difference by State from the 2000 and 2008 Censuses (Exercise)

Find the states that changed the most in population between 2000 and 2008, displaying all states.

In [ ]:
# Resuse ch5_engine and ch5_tbl_census from above.
stmt70 = \
    sqlalchemy.select(
        ch5_tbl_census.columns.state,
	    (
            sqlalchemy.func.sum(
                ch5_tbl_census.columns.pop2008 - ch5_tbl_census.columns.pop2000
            )
        ).label("pop_change")
    )
stmt70 = stmt70.group_by(ch5_tbl_census.columns.state)
stmt70 = stmt70.order_by(sqlalchemy.desc("pop_change"))
# stmt70 = stmt70.limit(10)
print(stmt70)
print()
with ch5_engine.connect() as conn70:
    result_set70 = conn70.execute(stmt70).fetchall()
    for row70 in result_set70:
        print("{}:{}".format(row70.state, row70.pop_change))

## Extra Credit

### Copy Data from AWS Database

The course demonstrates connecting to an AWS-hosted database. I wanted a copy of the data, but username "student" doesn't have access to the data.

#### Database Credentials

| field | value |
| :---  | :--- |
| host | postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com |
| port | 5432 |
| dbname | census |
| username | student |
| password | datacamp |

#### Dump the Data Using pg_dump

I tried to dump the AWS postgresql database named census using the pg_dump utility, but this failed.

```
pg_dump \
    --file census.sql \
    --format p \
    --blobs \
    --create \
    --no-sync \
    --host postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com \
    --port 5432 \
    --dbname census \
    --username student \
    --password

Password:
pg_dump: error: query failed: ERROR:  permission denied for table census
pg_dump: detail: Query was: LOCK TABLE public.census IN ACCESS SHARE MODE
```

#### Select Data

Using the demonstration code and other skills I learned in the course, I wrote the following code to select the data. Unfortunately, user "student" doesn't have permission to select the data.

In [ ]:
dns = "postgresql+psycopg2://"
dns += "student:datacamp"
dns += "@postgresql.csrrinzqubik.us-east-1.rds.amazonaws.com:5432/census"
pg_engine = sqlalchemy.create_engine(dns, future=True)
pg_inspector = sqlalchemy.inspect(pg_engine)
pg_table_names = pg_inspector.get_table_names()
print("table names: {}".format(list(pg_table_names)))

metadata = sqlalchemy.MetaData()
census = sqlalchemy.Table("census", metadata, autoload_with=pg_engine)
pg_table_columns = census.columns
print("table columns: {}".format(list(pg_table_columns)))

# Read the data into a DataFrame.
# Students don't have access to the data.
# try:
#     pg_select = sqlalchemy.select(census)
#     print("select: {}".format(pg_select))
#     with pg_engine.connect() as pg_conn:
#         pg_result_set = pg_conn.execute(pg_select).fetchall()
#         pg_df = pd.DataFrame(pg_result_set)
#         print(pg_df.head())
# except Exception as exc:
#     print("An exception was raised.")
#     print(exc)